@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bs-primary-color: #f48a97;
    --bs-forms-bgcolor: #FEEFEC;
    --bs-secondprimary-color: #33a8b9;
    --active-icon-color: #dde2ff;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-info-light: #7d8da1;
    --color-info-dark: #dce1eb;
    --color-background: #f6f6f9;
    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* Top Navbar */

.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 2fr 1.3fr 5fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
}

.logo h3 {
    font-size: clamp(1rem, 3px + 2vw, 1.75rem);
    color: #acc536;
    font-family: 'Playfair Display', serif;
}

.logo h3 span {
    color: #d11c2c;
    font-family: 'Playfair Display', serif;
}

.title h2 {
    font-size: clamp(1.35rem, 0.8rem + 2vw, 2rem);
}

.search {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;
    justify-self: end;
}

.search input {
    width: 100%;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.search span {
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}

.notifications span {
    margin-top: 12px;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown-toggle::after {
    content: none;
}

.user .dropdown-menu.show {
    margin-top: 50px !important;
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    left: 0;
    bottom: 0;
    height: calc(100% - 60px);
    background-color: #fff;
    transition: all 0.1s ease;
}

.sidebar ul {
    margin-top: 1rem;
}

.sidebar ul li {
    width: auto;
    list-style: none;
}

.sidebar ul li a {
    text-decoration: none;
    display: flex;
    margin-left: 1rem;
    color: #363949;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4.5rem;
    text-decoration: none;
    transition: all 300ms ease;
}

.sidebar ul li a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

.sidebar ul li a h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.sidebar ul li a.active {
    background-color: var(--color-light);
    margin-left: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sidebar ul li a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--bs-secondprimary-color);
}

.sidebar ul li a:hover span {
    margin-left: 1rem;
}

/* Main Content */

.main {
    position: relative;
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s ease;
    top: 60px;
    min-height: calc(100vh - 50px);
    /* position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 240px; */
}

.cards {
    display: flex;
    border: none;
}

.card {
    flex: 1;
    padding: 2rem 0;
    border: none;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
}

.charts {
    width: auto;
    padding: 20px;
    padding-top: 0;
}

.main-content {
    padding: 10px 20px 0 20px;
    position: relative;
    width: 100%;
}

.main-content a {
    text-decoration: none;
}


.gamecategory {
    margin-top: 8%;
    width: 80%;
}

.gametype .puzzle {
    background-color: white;
}

.gamecategory img {
    width: 80%;
    border-radius: 50%;
}

.statcharts {
    display: flex;
    /* display: grid;
    grid-template-columns: 2fr 2fr; */
    width: auto;
    padding: 20px;
}

.statcharts .chart {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: auto;
}

/* Responsiveness */

@media (max-width: 1115px) {
    .topbar {
        padding: 0 20px 0 10px;
        grid-template-columns: 2fr 1.3fr 6.5fr 0.5fr 1fr;
    }

    .search {
        width: 60%;
    }

    .search span {
        top: 9px;
    }

    .topbar .logo h3 {
        display: none;
    }

    .notifications span {
        margin-top: 5px;
    }

    .sidebar {
        width: 60px;
    }

    .main {
        width: calc(100% - 60px);
    }

    .sidebar ul li a h4 {
        display: none;
    }
}

@media (max-width: 991px) {
    .topbar {
        grid-template-columns: 2fr 2fr 7fr 0.8fr 2fr;
    }
}